.home{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background-bold);
  height: 100vh;
}

.logo {
  height: 30vmin;
  pointer-events: none;
  margin: 0 10%;
  margin-top: 10%;
}

.header h2 {
  color: var(--font-color);
  font-weight: normal;
}

.header hr {
  width: 60%;
}

.links {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 20%;
}

.home a {
  color: white;
  font-family: "Source Code Pro", Monospace, "Lucida Console";
  font-size: larger;
  text-decoration: none;
  margin-bottom: 1.5em;
  padding: 20px;
  border-radius: 15px;
}

.home a:hover {
  background-color: #ffffff47;
}

.uparrow {
  height: 25px;
  padding: 10px 20vh 10px 20vh;
  filter: invert(100%)
  /* pointer-events: none; */
}

.smallBanner, .largeBanner{
  width: 100vw;
}

.smallBanner{
  height: 25px;
}

.largeBanner{
  height: 50px;
}