.home{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background-bold);
  height: 100vh;
}

.logo {
  height: 30vmin;
  pointer-events: none;
  margin: 0 10%;
  margin-top: 10%;
}

.header h2 {
  color: var(--font-color);
  font-weight: normal;
}

.header hr {
  width: 60%;
}

.home .links {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 20%;
}
.home a, .home button {
  color: white;
  text-decoration: none;
  border-radius: 15px;
  border-style: none;
  background-color: transparent;
  text-align: left;
}

.home .links a, .home .links button {
  color: white;
  font-family: "Source Code Pro", Monospace, "Lucida Console";
  font-size: larger;
  text-decoration: none;
  margin-bottom: 1em;
  padding: 20px;
}

.home a:hover, .home button:hover {
  background-color: #ffffff47;
}

.uparrow {
  padding-top: 10px;
  color: var(--font-color);
}

.smallBanner, .largeBanner{
  width: 100vw;
}

.smallBanner{
  height: 25px;
}

.largeBanner{
  height: 50px;
}

.linksBanner{
  display: flex;
  flex-direction: row-reverse;
  overflow-x: hidden;
  /* border: 3px solid var(--important-C); */
}

.linksBanner .outerBorder {
  /* border: 2px solid var(--important-B); */
  border-left: 15px solid var(--important-C);
  border-right: 0;
  margin-right: -20px; 
  margin-left: 50px;

  width: 100%;
  max-width: 500px;
  background-color: #4658d0;
  color: var(--font-color);
  transform: skew(-20deg);

}

.linksBanner .innerBorder {
  /* border: 2px solid var(--important-B); */
  border-left: 10px solid var(--important-B);
}

.linksBanner .content {
  display: flex;
  padding-left: 40px;
  gap: 25px;
  transform: skew(20deg);

}

.linksBanner .content a {
  margin: 0;
  padding: 5px;
}
