.projects {
  margin: 0 10%;
}

.projects .grid {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  gap: 50px 25px;
  padding-bottom: 200px;
}

.projects .grid .card {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--card-color);
  border-radius: 20px;
  text-align: left;
  padding: 15px;
  font-size: larger;
}

.projects .grid .card.important {
  border: 5px solid var(--important-A);
  /* background-color: var(--important-A-light); */
  width: 100%;
}

@media (orientation: landscape){
  .projects{
    margin: 0 25%;
  }

  .projects .grid .card {
    width: calc(50% - 50px);
    /* I should instead check if im not on a mobile device, but whatever */
    box-shadow: 5px 5px 5px gray;
  }
}

.linkShelf {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin-bottom: 0;
}

.projects h1{
  font-size: 3em;
}

.card a {
  font-size: 0.75em;
  font-weight: bold;
  padding: 10px;
  margin-right: 5px;
  border-radius: 15px;
  text-decoration: none;
  color: var(--font-color);
}

.card h3 {
  margin-top: 0;
  color: var(--important-A);
  font-size: 1.0em;
}

.card h2 {
  margin-top: 0;
}

