.Blogs{
    overflow: hidden;
    background-image: url("./CloudyWin98.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Blogs-taskbar {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 100vw;
    background-color: #c3c3c3;
    border-style: outset;
    margin-top: auto;
    padding-left: 10px;
    padding-bottom: 20px;
}

.Blogs-taskbar-home-button {
    text-decoration: none;
    text-align: center;
    justify-self: center;
    align-self: center;
    padding: 7px;
    border-style: outset;
}

.Blogs-foldericon-desktop {
    position: fixed;
    left: 30px;
    top: 30px;
    z-index: 1;
}

.Blogs-foldericon-taskbar {
    margin-left: 20px;
    margin-top: 3px;
    height: 35px;
}

.ContentWindow { /*Lowest level class used in the definition of this component*/
    background-image: linear-gradient(to top right, blue 50%, lightgray);
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.ContentWindow-top-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ContentWindow-top-bar button {
    margin: 2px 2px 2px 0px;
    border-radius: 0;
    border-style: outset;
    border-color: white;
}

.window-name {
    color: white;
    margin: 0;
    padding-top: 5px;
    padding-left: 10px;
}

.ContentWindow-page-container {
    height: 100%;
    box-sizing: border-box;
    padding: 4px;
}

.ContentWindow-page {
    display: flex;
    background-color: white;
    height: 100%;
}

.ContentWindow-page-content {
    display: flex;
    max-width: 680px;
}

@media (min-width: 680px){
    .ContentWindow {
        margin: 40px;
    }
}

.FileExplorer-table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.FileExplorer-table td, .FileExplorer-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.FileExplorer-table tr:nth-child(even){background-color: #f2f2f2;}

.FileExplorer-table tr:hover {background-color: #ddd;}

.FileExplorer-table th {
    padding: 0px 12px;
    background-color: gray;
}

tr Link {
    width: 100vw;
}