:root {
  /* Colors */
  --hero-title: #ffffff;
  --hero-links: #ffffff;
  --font-color: rgba(240 240 255 / 100%);
  --background-bold: #F64822;
  --background-dull: #ffffff;
  --important-A-dark: #c93412;
  --important-A: #F64822;
  --important-A-light: #ffbfb0;
  --important-B-dark: #dc890d;
  --important-B: #F6A122;
  --important-B-light: #ffd89f;
  --important-C-dark:#a89700;
  --important-C:#ffeb33;
  --important-C-light:#fff599;
  --card-color: #f2ecec; 

  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
